<!doctype html>
<html class="no-js" lang="{{ app.getRequest.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    <link rel="stylesheet" href="/css/app.css">
    {% endblock %}
</head>
<body>
{% block body %}

{% endblock %}

{% block scripts %}
<script src="/bundles/foundation/node_modules/jquery/dist/jquery.js"></script>
<script src="/bundles/foundation/node_modules/what-input/dist/what-input.js"></script>
<script src="/bundles/foundation/node_modules/foundation-sites/dist/js/foundation.js"></script>
<script src="/js/app.js"></script>
{% endblock %}
</body>
</html>
