{% extends '@foundation/base.html.twig' %}

{% block title %}Site Title{% endblock %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <header>
        {% block header %}
            {% include 'layout/header.html.twig' %}
        {% endblock %}
    </header>

    <main class="grid-container">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </main>

    <footer>
        {% block footer %}
            {% include 'layout/footer.html.twig' %}
        {% endblock %}
    </footer>

{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
